<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Sekeresh_Action>
            <version>0.1.2</version>
        </Sekeresh_Action>
    </modules>
    <frontend>
        <routers>
            <sekeresh_action>
                <use>standard</use>
                <args>
                    <module>Sekeresh_Action</module>
                    <frontName>sekeresh_action</frontName>
                </args>
            </sekeresh_action>
        </routers>
        <layout>
            <updates>
                <sekeresh_action>
                    <file>sekeresh/action.xml</file>
                </sekeresh_action>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <sekeresh_action>
                <class>Sekeresh_Action_Block</class>
            </sekeresh_action>
        </blocks>
        <models>
            <sekeresh_action>
                <class>Sekeresh_Action_Model</class>
                <resourceModel>sekeresh_action_resource</resourceModel>
            </sekeresh_action>
            <sekeresh_action_resource>
                <class>Sekeresh_Action_Model_Resource</class>
                <entities>
                    <action>
                        <table>sekeresh_action</table>
                    </action>
                    <action_product>
                        <table>sekeresh_action_product</table>
                    </action_product>
                </entities>
            </sekeresh_action_resource>
        </models>
        <resources>
            <sekeresh_action>
                <setup>
                    <module>Sekeresh_Action</module>
                </setup>
            </sekeresh_action>
        </resources>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                   <action>
                        <class>sekeresh_action/observer</class>
                       <method>addLinkToTopmenu</method>
                   </action>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sekeresh_action before="Mage_Adminhtml">Sekeresh_Action_Adminhtml
                        </sekeresh_action>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sekeresh_action>
                    <file>sekeresh/action.xml</file>
                </sekeresh_action>
            </updates>
        </layout>
    </adminhtml>
</config>